Package: program1
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 20
Maintainer: Sm1lick <2hack0max0hack2@gmail.com>
Description: Program 1 from Lecture 2

